body.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;
  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-card-background: #1e1e1e;
  --ion-item-background: #1e1e1e;
  --ion-toolbar-background: #1e1e1e;
  --ion-tab-bar-background: #1e1e1e;
  --ion-border-color: #333333;
}