<ion-content>
  <ion-card>
    <div class="password-container">
      <ion-label class="title">Nouveau mot de passe</ion-label>

      <div class="input-box">
        <ion-icon name="lock-closed"></ion-icon>
        <input 
          [(ngModel)]="newPassword" 
          placeholder="Nouveau mot de passe"
          type="password">
      </div>

      <div class="input-box">
        <ion-icon name="lock-closed"></ion-icon>
        <input 
          [(ngModel)]="confirmPassword" 
          placeholder="Confirmer le mot de passe"
          type="password">
      </div>

      <ion-button 
        (click)="changerMotDePasse()" 
        class="submit-btn">
        Réinitialiser
      </ion-button>
    </div>
  </ion-card>
</ion-content>