<ion-content>
  <ion-card>
    <div class="form-box">
      <div class="register-container" id="register">
        <ion-label class="signup">S'inscrire</ion-label>
        <div class="two-forms">
          <ion-grid class="name-grid">
            <ion-row>
              <div class="input-box">
                <ion-icon name="person" slot="start" class="child"></ion-icon>
                <ion-col size="6" class="col-left">
                  <input
                    label="Nom"
                    [(ngModel)]="user.nom"
                    class="input-field"
                    placeholder="Entrez votre Nom"
                    required
                  />
                </ion-col>
              </div>
              <br />
              <div class="input-box">
                <ion-icon name="person" slot="end" class="part"></ion-icon>
                <ion-col size="6" class="col-right">
                  <input
                    label="Prenom"
                    [(ngModel)]="user.prenom"
                    class="input-field"
                    placeholder="Entrez votre Prenom"
                    required
                  />
                </ion-col>
              </div>
            </ion-row>
          </ion-grid>
          <br />
          <div class="input-box">
            <ion-icon name="mail" slot="start" class="first"></ion-icon>
            <input
              label="Email"
              [(ngModel)]="user.email"
              class="input-field"
              placeholder="Entrez votre Email"
              type="email"
              required
            />
          </div>
          <br />


        
        </div>

          <div class="input-box">
            <ion-icon name="lock-closed" slot="start" class="second"></ion-icon>
            <input
              label="Password"
              [(ngModel)]="user.password"
              class="input-field"
              placeholder="Entrez votre password"
              type="password"
              required
            />
          </div>
          


      
        <label><a class="role">Je suis:</a></label>
        <ion-radio-group [(ngModel)]="user.role" required>
          <div class="input-box">
            <ion-radio value="developer" class="bloc">Développeur</ion-radio>

            <ion-radio value="entrepreneur" class="block"
              >Entrepreneur</ion-radio>
          </div>
        </ion-radio-group>
          
        <div *ngIf="user.role === 'entrepreneur'" class="input-box" style="margin-top: 16px;">
          <ion-icon name="business" slot="start"></ion-icon>
          <input
            [(ngModel)]="user.Publierparentreprise"
            class="input-field"
            placeholder="Nom de l'entreprise"
            required
          />
        </div>
      </div>
    </div>
  </ion-card>

  <ion-button
    (click)="register()"
    class="center-btn"
    color="primary"
    [disabled]="!user || !user.email || !user.password || !user.nom || !user.prenom || !user.role ||
              (user.role === 'entrepreneur' && !user.Publierparentreprise)"
    >S'inscrire</ion-button>
</ion-content>
