<!--<ion-header>
  <ion-toolbar>
    <ion-title>Code reçu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label position="floating">Code</ion-label>
    <ion-input [(ngModel)]="code"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="verifyCode()">
    Vérifier ✅
  </ion-button>

</ion-content>-->
<ion-content>
  <ion-card>
    <div class="verify-container">
      <ion-label class="title">Entrez le code</ion-label>
      <p class="subtitle">Un code à 6 chiffres a été envoyé à {{ email }}</p>

      <div class="code-inputs">
        <input 
          #digit1
          [(ngModel)]="code[0]" 
          (input)="onCodeInput(0, digit2)"
          maxlength="1"
          type="number">
        <input 
          #digit2
          [(ngModel)]="code[1]" 
          (input)="onCodeInput(1, digit3)"
          maxlength="1"
          type="number">
        <input 
          #digit3
          [(ngModel)]="code[2]" 
          (input)="onCodeInput(2, digit4)"
          maxlength="1"
          type="number">
        <input 
          #digit4
          [(ngModel)]="code[3]" 
          (input)="onCodeInput(3, digit5)"
          maxlength="1"
          type="number">
        <input 
          #digit5
          [(ngModel)]="code[4]" 
          (input)="onCodeInput(4, digit6)"
          maxlength="1"
          type="number">
        <input 
          #digit6
          [(ngModel)]="code[5]" 
          (input)="onCodeInput(5, null)"
          maxlength="1"
          type="number">
      </div>

      <ion-button 
        (click)="verifierCode()" 
        class="submit-btn">
        Vérifier
      </ion-button>

      <p class="resend">
        Vous n'avez pas reçu le code ? 
        <a (click)="renvoyerCode()">Renvoyer</a>
      </p>
    </div>
  </ion-card>
</ion-content>
