<ion-content [fullscreen]="true">
  <div class="home-container">
    <div class="logo-section">
      <h1 class="app-name">ProConnect</h1>
      <p class="tagline">Connectez vos projets avec les meilleurs développeurs</p>
    </div>
    <div class="wrapper">
      <ion-button class="center-btn" routerLink="/signup">Commencer</ion-button>
      <ion-button class="border-btn" routerLink="/signin">Se connecter</ion-button>
    </div>
    <div class="features">
      <div class="feature-item">
        <ion-icon name="rocket"></ion-icon>
        <span>Projets innovants</span>
      </div>
      <div class="feature-item">
        <ion-icon name="people"></ion-icon>
        <span>Talents qualifiés</span>
      </div>
      <div class="feature-item">
        <ion-icon name="shield-checkmark"></ion-icon>
        <span>Sécurisé</span>
      </div>
    </div>
  </div>
</ion-content>